{% extends 'layout.html' %}

{% block body %}
<center>
    <h1>Hey there Amanda !</h1>
</center>
<h4>Gak kerasa udah setahun kita barengan ya.</h4>
<center>
<h5>Berawal dari temen biasa yakan</h5>
<img src="https://i.ibb.co/tC8v9Rh/IMG-20191202-090332.jpg" alt="IMG_20191202_090332" border="0"
width=300px;>
</center>
<br>
<h4>Terus tipis2 aku ajakin ke gereja xD. Walaupun sebenernya aku jarang ke gereja.
     Emang aku akuin ke gereja waktu itu tujuannya deketin kamu aja. Mantap ya kan sambil menyelam minum sirup.
    Tapi lama kelamaan, malah akunya sendiri yang lebih deket sama Tuhan ketimbang aku yang sebelumnya. So all is good.</h4>
<h4>Sampe akhirnya kejadian lah tu tanggal 5 january 2020. Dan sisanya history.</h4>
<center>
<h5>Foto pertama kita barengan</h5>

<img src="https://i.ibb.co/HXpJ4XT/20200118-145307.jpg" alt="20200118-145307" border="0"
width=300px;>
</center>
<br>
<br>
<h4>Senang, marah, sedih, kesel, egois, merasa kurang, sudah pernah kita lewatin bersama.</h4>
<center>
<h5>Dari ke siak</h5>
<img src="https://i.ibb.co/BqZpqNm/line-154906124476073.jpg" alt="line-154906124476073" border="0"
width=10%>
<img src="https://i.ibb.co/10pcMq7/Foto.jpg" alt="Foto" border="0"
width=20%>

<br>
<br>
<h5> Sampai saling kirim foto2 dan rajin video call (sebelom indihome bandung menyerang) :(</h5>

<img src="https://i.ibb.co/YyNk8cC/IMG-20200701-WA0039.jpg" alt="IMG-20200701-WA0039" border="0"
width = 10%>
<img src="https://i.ibb.co/zhTGrVW/kecil.jpg" alt="kecil" border="0"
width = 15%>
<img src="https://i.ibb.co/rxg7jRX/Whats-App-Image-2020-11-08-at-19-43-44.jpg" alt="Whats-App-Image-2020-11-08-at-19-43-44" border="0"
width=10%>
</center>
<left>
<h4>Anyway, dah lah cukup ke cringe-an ini ya bebeb. Lho cringe lagi.<br>
Jadi di kencan virtual ini, aku ada bikin 2 kuis.<br>
Kuis 1 : pengetahuan Amanda tentang Johan. Biarin. aku yang bikin kuis wek.<br>
Ini ada nilainya ya. Kalao diatas KKM (80) nanti dapet hadiah. WKWKWKWK <br>
Kuis 2 : sebenernya ini topik yang belom pernah kita bicarain, tapi kayaknya cepat lambat bakal kita bicarain.<br>
Jadinya nanti aku ngisi, kamu juga ngisi, nah nanti hasilnya bisa kita diskusiin.<br>
Sooo, yah. Semoga kamu seneng dengan kencan virtual edisi spesial ini.<br>
dah cepetan mulai kuisnya !! wkwwk</h4>
</left>
<center>
<h5>Dengan segala kebucinan - Dec 2020</h5><br>
<h5>#Udahsetaunjohanmasihbucin</h5>
</center>
{% endblock %}
