{% extends 'layout.html' %}

{% block body %}
<center>
    <h1>Kuis 2</h1>
</center>
<h3>1. Rencana nikah tahun ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis21">
    </form>
<h3>2. Budget nikah ? Perincian :</h3>
<h4>a. MUA ? </h4>
<form>
    Jawaban :  <input type="text" name="kuis22a">
    </form>
<h4>b. Sewa Gedung ? </h4>
<form>
    Jawaban :  <input type="text" name="kuis22b">
    </form>
<h4>c. EO ? </h4>
<form>
    Jawaban :  <input type="text" name="kuis22c">
    </form>
<h4>d. Makanan ? </h4>
<form>
    Jawaban :  <input type="text" name="kuis22d">
    </form>
<h4>e. Souvenir ? </h4>
<form>
    Jawaban :  <input type="text" name="kuis22e">
    </form>
<h4>f. Hotel ? </h4>
<form>
    Jawaban :  <input type="text" name="kuis22f">
    </form>
<h4>g. Honeymoon ? </h4>
<form>
    Jawaban :  <input type="text" name="kuis22g">
    </form>
<h3>3. Nikah di kota mana ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis23">
    </form>
<h3>4. Prefer dilamar tiba - tiba atau janjian dulu ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis24">
    </form>
<h3>5. Prefer dilamar di tempat umum atau tempat sepi ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis25">
    </form>
<h3>6. Honeymoon mau ke mana ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis26">
    </form>
<h3>7. Rencana mau tinggal di kota mana ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis27">
    </form>
<h3>8. Rencana mau punya anak tahun berapa ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis28">
    </form>
<h3>9. Rencana mau punya anak berapa ? (Jawab Pake Angka) </h3>
<form>
    Jawaban :  <input type="text" name="kuis29">
    </form>
<h3>10. Prefer yang mana ?</h3>
<input type="radio" name= "kuis210" value="1"> Cicil Rumah sambil cicil mobil <br>
<input type="radio" name= "kuis210" value="2"> Sewa Rumah sambil cicil mobil <br>
<input type="radio" name= "kuis210" value="3"> Sewa Rumah jalan - jalan pake transportasi umum atau sewa mobil <br>
<input type="radio" name= "kuis210" value="4"> Lainnya ? Sebutin <br>
<form>
    Lainnya :  <input type="text" name="kuis210">
    <center>
        <br>
        <br>
        <br>
        <input type="submit" value="Submit">
        <br>
        <br>
        <br>
        <h5>Dengan segala kebucinan - Dec 2020</h5><br>
        <h5>#Udahsetaunjohanmasihbucin</h5>
    </center>
    </form>
{% endblock %}