{% extends 'layout.html' %}

{% block body %}
<center>
    <h1>Kuis 1</h1>
</center>
<h2>Jawab pertanyaan (masing2 pertanyaan cuman 1 kata aja ya jawabannya).<br>
     Case sensitive, jadi pake huruf kecil aja semua jawabnya.</h2><br><br>
<h3>1. Siapa nama pertama papa aku ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis11">
    </form>
<h3>2. Yang mana yang belom pernah aku jadiin wallpaper ?</h3>
<input type="radio" name= "kuis12" value="1"> <img src="https://i.ibb.co/0jTBjRx/Whats-App-Image-2020-11-29-at-09-21-55.jpg" alt="Whats-App-Image-2020-11-29-at-09-21-55" border="0"
style="width:180px;height:300px;"> 
<input type="radio" name= "kuis12" value="2"> <img src="https://i.ibb.co/3F9mW8R/IMG-20200226-WA0037.jpg" alt="IMG-20200226-WA0037" border="0"
style="width:180px;height:300px;"> 
<input type="radio" name= "kuis12" value="3"> <img src="https://i.ibb.co/TmdpFN4/Whats-App-Image-2020-12-20-at-20-29-34.jpg" alt="Whats-App-Image-2020-12-20-at-20-29-34" border="0"
style="width:210px;height:300px;"> 
<input type="radio" name= "kuis12" value="4"> <img src="https://i.ibb.co/QX1j3Kx/Amanda-13-Maret-2020-2.jpg" alt="Amanda-13-Maret-2020-2" border="0"
style="width:180px;height:300px;">  
<input type="radio" name= "kuis12" value="5"> <img src="https://i.ibb.co/YQFY5Xy/IMG-20200227-WA0012.jpg" alt="IMG-20200227-WA0012" border="0"
style="width:180px;height:300px;">  
<h3>3. First date kita makan apa ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis13">
    </form>
<h3>4. Aku nembak jam berapa ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis14">
    </form>
<h3>5. Makanan favorit aku apa ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis15">
    </form>
<h3>6. Judul lagu yang aku dengerin kalo lagi kangen apa ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis16">
    </form>
<h3>7. Warna favorit aku apa ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis17">
    </form>
<h3>8. Sambil dipikirin ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis18">
    </form>
<h3>9. Mikir apa ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis19">
    </form>
<h3>10. Mikir apa w ?</h3>
<form>
    Jawaban :  <input type="text" name="kuis110">
    </form>

    <center>
    <br>
    <br>
    <br>
    <input type="submit" value="Submit"><br>
    <br>
    <br>
    <br>
    <h5>Dengan segala kebucinan - Dec 2020</h5><br>
    <h5>#Udahsetaunjohanmasihbucin</h5>
</center>
    </form>
{% endblock %}