<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuis Cinta Edisi Spesial 1 Tahoen</title>
    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        body{
            background-color: aliceblue;
            background : url("https://wallpapercave.com/wp/wp5269327.jpg");
            background-size:;
        }
    </style>
</head>
<body>
    {% include 'includes/_navbar.html' %}
    {% block body %} {% endblock %}
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
</body>
</html>